* {
    font-family: Lato,Helvetica,sans-serif;
    color: #333447;
    line-height: 1.5;
}
body{
    background: white;
}

.navbar{
    border-radius: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
    color: #333447;
}

.navbar-brand{
    font-family: Lato,Helvetica,sans-serif;
    color: #333447;
    border: 0.15em solid #9d9d9d;
    border-radius: 25px;
    margin: 10px 0px;
    height: 55px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
table {
    border-spacing: 5px;
}
th, td {
    padding: 10px;
    text-align: left;
  }
th {
    text-align: left;
    background-color: black;
    color: white;
  }
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
        background-color: #fff;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    text-align: center;
    padding: 1.5em;
    line-height: 2.5em;
    min-width: 15em;
}
#banner li {

}
#banner h2 {
    
    border-left: 0;
    border-right: 0;
    font-size: 2.35em;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
}

#banner h2 strong {
    font-weight: 800;
}
h3 strong{
    border-left: 0;
    border-right: 0;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
}

#banner h2:before {
    content: '';
    display: block;
    border-top: solid 1px;
    border-color: #888;
    border-color: rgba(255,255,255,0.35);
    margin: 10px 0 1.25em 0;
}

#banner h2:after {
    content: '';
    display: block;
    border-bottom: solid 1px;
    border-color: #888;
    border-color: rgba(255,255,255,0.35);
    margin: 1.25em 0 10px 0;
}

#banner p {
    text-transform: uppercase;
    color: #fff;
    color: rgba(255,255,255,0.75);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 0.04em;
}

#header-wrapper {
    background:top center url("images/bckg-top.bc126095.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

input[type=text] {
    background-color: #d6d0d0;
    color: #333447;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
  }

  footer {
    background: linear-gradient(90deg,#0583bf,#669f9b 50%,#829983);
    min-height: 150px;
    margin-top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  

#domain-button{
    background-color: transparent;
    border: none;
    padding: 10px 24px;  
    margin: 6%;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    text-align: center;

}

#modalText{
    text-align: left;
}