{% extends 'Scrapper/base.html' %}

{% block title %}Reporte de articulos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-15 col-md-15">
        <div class="panel panel-defualt">
            <div class="panel-body">
                
                {% if object_list %}
    
                    <table style="width:100%">
                    <caption>Articulos de noticia: {{ object_list|length }}</caption>
                    <tr>
                        <th>Titulo</th>
                        <th>Nombre del sitio</th>
                        <th>Fecha</th>
                        <th>URL</th>
                    </tr>
                    {% for a in object_list %}
                    <tr> 
                        <td><a href="{% url 'Scrapper:details' a.id %}">{{ a.title }}</a></td>
                        <td>{{ a.site_name }}</td>
                        <td>{{ a.published_date }}</td>
                        {% if a.url != None %}
                        <td><a href="{{ a.url }}">{{ a.url }}</a></td>
                        {% else %}
                        <td>{{ a.url }}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                    </table>

                    

                {% else %}
                    <p>No hay registros</p>
                {% endif %} 
                
            
            </div>
        </div>
    </div>
</div>

{% endblock %}